.card{
    display: flex;
    flex-direction: row;
    width: 40vw;
    min-width: 400px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: white;
    color: black;
}

.leftSide{
    padding: 2vw;
    width: 40%;
}

.leftSide img{
    object-fit: cover;
    width: 100%;
}

.rightSide{
    padding: 2vw;
    width: 60%;
}

.rightSide h2{
    margin-top: 0;
    text-align: center;
    color: black;
}

